@model CLC.Models.Cell
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "updateBoard"
    };
}

@Html.Raw("<div id=\"cell")@Model.toString()@Html.Raw("\">")
    @using (Ajax.BeginForm("Click", "Minesweeper", ajaxOptions, new { id = "myform" + @Model.toString() }))
    {
        @Html.AntiForgeryToken();
        @Html.Hidden("cell", @Model.toString())
        <button id="@Model.toString()" type="submit" oncontextmenu="rightClick(@Model.toString())">
            @if (Model.Revealed || Model.Flagged)
            {
                <img src="@Url.Content("~/Images/" + Model.Image)" />
            }
            else
            {
                <img src="@Url.Content("~/Images/static.png")" />
            }
        </button>
    }
@Html.Raw("</div>")